<app-header></app-header>

<div class="titulo">
    REPORTES
</div>

<div id="tabla">

    <div class="fila header-fila"> 
      <div>ID</div>
      <div>MES</div>
      <div>USOS</div>
      <div>COBRADO</div>
    </div>
  
    <div class="fila">
        <div>1</div>
        <div>2024/01</div>
        <div>15</div>   
        <div>$5200</div>
    </div>
    <div class="fila">
        <div>2</div>
        <div>2024/02</div>
        <div>20</div>   
        <div>$18000</div>
    </div>
    <div class="fila">
        <div>3</div>
        <div>2024/03</div>
        <div>16</div>   
        <div>$6000</div>
    </div>
    <div class="fila">
        <div>4</div>
        <div>2024/04</div>
        <div>14</div>   
        <div>$4900</div>
    </div>
    
    <div class="fila">
      <div>5</div>
      <div>2024/05</div>
      <div>15</div>   
      <div>$5200</div>
    </div>
    <div class="fila">
        <div>6</div>
        <div>2024/06</div>
        <div>8</div>   
        <div>$8500</div>
      </div>
      <div class="fila">
        <div>7</div>
        <div>2024/07</div>
        <div>22</div>   
        <div>$22500</div>
      </div>
      <div class="fila">
        <div>8</div>
        <div>2024/08</div>
        <div>15</div>   
        <div>$15500</div>
      </div>
      <div class="fila">
        <div>9</div>
        <div>2024/09</div>
        <div>24</div>   
        <div>$24400</div>
      </div>
  </div>